<section class="catalogo">

    <div class="catalogo-header">

        <h1>Nuestro menú 🍔</h1>

        <p>
            Elige tus hamburguesas y productos favoritos.
        </p>

    </div>

    @if (cargando) {

        <p>Cargando productos...</p>

    } @else if (error) {

        <p class="error">{{ error }}</p>

    } @else {

        <div class="productos-grid">

            @for (producto of productos; track producto.id) {

                <app-producto-card
                    [producto]="producto">
                </app-producto-card>

            }

        </div>

    }

</section>