
<nav class="navbar">

    <div class="navbar-container">

        <a class="logo" routerLink="/">
            🍔 Hamburguesas Level Up
        </a>

        <div class="nav-links">

            <a routerLink="/" routerLinkActive="active">
                Inicio
            </a>

            <a routerLink="/productos" routerLinkActive="active">
                Productos
            </a>

            <a routerLink="/carrito" routerLinkActive="active">
                🛒 Carrito
            </a>

            <a routerLink="/login" routerLinkActive="active">
                Iniciar sesión
            </a>

        </div>

    </div>

</nav>